<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] VorobyovFanfics</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand mr-2 pr-2" asp-area="" asp-controller="Home" asp-action="Index">Fanfics project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1 mr-2 pr-2">

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="~/Account/Register">Sign up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="~/Account/Login">Sign in</a>
                            </li>

                        }

                        else
                        {
                            <li class="nav-item">
                                <a class="text-dark align-self-center">Hello, @User.Identity.Name</a>

                            </li>
                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <button class="btn btn-outline-dark align-middle">Выход</button>
                                </form>
                            </li>
                        }

                    </ul>
                    <form class="form-inline col-lg-10 col-md-8 my-2 pl-0 ml-0 pl-md-2 pl-sm-2 ml-md-2 ml-sm-2" >
                        <input type="text" class="form-control col-4 col-xl-10 col-lg-9 col-md-8 col-sm-7 mr-2" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-dark my-2 my-sm-0" >Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>